* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: min(90vw, 90vh);
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  padding: 1em;
  gap: 1em;
}

input {
  width: 40px;
}
#warning {
  white-space: pre-line;
}
